body {
	text-align: center;
	margin: 0;
	padding-left: 100px;
  padding-right: 100px;

}

element.style {
	padding: 40px;
}

.intro {
  padding-right: 400px;
  padding-left: 50px;

}

.hi {
	text-align: center;
  padding-right: 400px;
  padding-left: 50px;
}



.bar {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  background-color: #333;

}

li {
  display: inline;
  float: right;

}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
